apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: icloudpd-config
  namespace: photo-sync
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
