apiVersion: v1
kind: ConfigMap
metadata:
  name: tailscale-config
  namespace: tailscale
  labels:
    app.kubernetes.io/name: tailscale
data:
  serve.json: |
    {
      "TCP": {
        "443": {
          "HTTPS": true
        }
      },
      "Web": {
        "upsnap.tail05edf2.ts.net:443": {
          "Handlers": {
            "/": {
              "Proxy": "http://127.0.0.1:8090"
            }
          }
        }
      }
    }
